NET "clk_50" LOC = "B8";
NET "clk_32" LOC = "U9";
NET "sliderSwitches<0>" LOC = "G18";
NET "sliderSwitches<1>" LOC = "H18";
NET "sliderSwitches<2>" LOC = "K18";
NET "sliderSwitches<3>" LOC = "K17";
NET "sliderSwitches<4>" LOC = "L14";
NET "sliderSwitches<5>" LOC = "L13";
NET "sliderSwitches<6>" LOC = "N17";
NET "sliderSwitches<7>" LOC = "R17";
NET "pushButton" LOC = "B18";
NET "anodes<0>" LOC = "F17"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "anodes<1>" LOC = "H17"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "anodes<2>" LOC = "C18"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "anodes<3>" LOC = "F15"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "seg7<0>" LOC = "L18"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "seg7<1>" LOC = "F18"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "seg7<2>" LOC = "D17"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "seg7<3>" LOC = "D16"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "seg7<4>" LOC = "G14"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "seg7<5>" LOC = "J17"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "seg7<6>" LOC = "H14"|IOSTANDARD="LVTTL" |DRIVE=16;
NET "led" LOC = "J14"|IOSTANDARD="LVTTL" |DRIVE=16;
