//! **************************************************************************
// Written by: Map P.20131013 on Tue Aug 11 20:21:30 2015
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "an<1>" LOCATE = SITE "H17" LEVEL 1;
COMP "an<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F15" LEVEL 1;
COMP "RAMAdv" LOCATE = SITE "J4" LEVEL 1;
COMP "RAMClk" LOCATE = SITE "H5" LEVEL 1;
COMP "clk_50" LOCATE = SITE "B8" LEVEL 1;
COMP "sliderSwitches<0>" LOCATE = SITE "G18" LEVEL 1;
COMP "sliderSwitches<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "RAM_CEb" LOCATE = SITE "R6" LEVEL 1;
COMP "sliderSwitches<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "RAMCre" LOCATE = SITE "P7" LEVEL 1;
COMP "RAM_LB" LOCATE = SITE "K5" LEVEL 1;
COMP "sliderSwitches<3>" LOCATE = SITE "K17" LEVEL 1;
COMP "sliderSwitches<4>" LOCATE = SITE "L14" LEVEL 1;
COMP "sliderSwitches<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "sliderSwitches<6>" LOCATE = SITE "N17" LEVEL 1;
COMP "sliderSwitches<7>" LOCATE = SITE "R17" LEVEL 1;
COMP "RAM_data<10>" LOCATE = SITE "M3" LEVEL 1;
COMP "RAM_data<11>" LOCATE = SITE "M6" LEVEL 1;
COMP "RAM_UB" LOCATE = SITE "K4" LEVEL 1;
COMP "seg7<0>" LOCATE = SITE "L18" LEVEL 1;
COMP "RAM_data<12>" LOCATE = SITE "L2" LEVEL 1;
COMP "seg7<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "RAM_data<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "seg7<2>" LOCATE = SITE "D17" LEVEL 1;
COMP "RAM_data<14>" LOCATE = SITE "R3" LEVEL 1;
COMP "RAM_data<0>" LOCATE = SITE "L1" LEVEL 1;
COMP "seg7<3>" LOCATE = SITE "D16" LEVEL 1;
COMP "RAM_data<15>" LOCATE = SITE "T1" LEVEL 1;
COMP "RAM_data<1>" LOCATE = SITE "L4" LEVEL 1;
COMP "seg7<4>" LOCATE = SITE "G14" LEVEL 1;
COMP "RAM_data<2>" LOCATE = SITE "L6" LEVEL 1;
COMP "seg7<5>" LOCATE = SITE "J17" LEVEL 1;
COMP "RAM_data<3>" LOCATE = SITE "M4" LEVEL 1;
COMP "seg7<6>" LOCATE = SITE "H14" LEVEL 1;
COMP "RAM_data<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "RAM_Adr<10>" LOCATE = SITE "G3" LEVEL 1;
COMP "RAM_data<5>" LOCATE = SITE "P1" LEVEL 1;
COMP "RAM_Adr<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "RAM_Adr<11>" LOCATE = SITE "G6" LEVEL 1;
COMP "pushButtons<0>" LOCATE = SITE "B18" LEVEL 1;
COMP "RAM_data<6>" LOCATE = SITE "P2" LEVEL 1;
COMP "RAM_Adr<2>" LOCATE = SITE "J2" LEVEL 1;
COMP "RAM_Adr<20>" LOCATE = SITE "D2" LEVEL 1;
COMP "RAM_Adr<12>" LOCATE = SITE "G5" LEVEL 1;
COMP "pushButtons<1>" LOCATE = SITE "D18" LEVEL 1;
COMP "RAM_data<7>" LOCATE = SITE "R2" LEVEL 1;
COMP "RAM_Adr<3>" LOCATE = SITE "H4" LEVEL 1;
COMP "RAM_Adr<21>" LOCATE = SITE "K3" LEVEL 1;
COMP "RAM_Adr<13>" LOCATE = SITE "G4" LEVEL 1;
COMP "pushButtons<2>" LOCATE = SITE "E18" LEVEL 1;
COMP "RAM_data<8>" LOCATE = SITE "L3" LEVEL 1;
COMP "RAM_Adr<4>" LOCATE = SITE "H1" LEVEL 1;
COMP "RAM_Adr<22>" LOCATE = SITE "D1" LEVEL 1;
COMP "RAM_Adr<14>" LOCATE = SITE "F2" LEVEL 1;
COMP "pushButtons<3>" LOCATE = SITE "H13" LEVEL 1;
COMP "RAM_data<9>" LOCATE = SITE "L5" LEVEL 1;
COMP "RAM_WEb" LOCATE = SITE "N7" LEVEL 1;
COMP "RAM_Adr<5>" LOCATE = SITE "H2" LEVEL 1;
COMP "RAM_Adr<23>" LOCATE = SITE "K6" LEVEL 1;
COMP "RAM_Adr<15>" LOCATE = SITE "E1" LEVEL 1;
COMP "RAM_OEb" LOCATE = SITE "T2" LEVEL 1;
COMP "RAM_Adr<6>" LOCATE = SITE "J5" LEVEL 1;
COMP "RAM_Adr<16>" LOCATE = SITE "M5" LEVEL 1;
COMP "RAM_Adr<7>" LOCATE = SITE "H3" LEVEL 1;
COMP "RAM_Adr<17>" LOCATE = SITE "E2" LEVEL 1;
COMP "RAM_Adr<8>" LOCATE = SITE "H6" LEVEL 1;
COMP "RAM_Adr<18>" LOCATE = SITE "C2" LEVEL 1;
COMP "RAM_Adr<9>" LOCATE = SITE "F1" LEVEL 1;
COMP "RAM_Adr<19>" LOCATE = SITE "C1" LEVEL 1;
NET "clk_50_BUFGP/IBUFG" BEL "clk_50_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clk_50 = BEL "RAM_WEb" BEL "dataFromRAM_8" BEL "dataFromRAM_9" BEL
        "dataFromRAM_10" BEL "dataFromRAM_11" BEL "dataFromRAM_12" BEL
        "dataFromRAM_13" BEL "dataFromRAM_14" BEL "dataFromRAM_15" BEL
        "UPCNTR/counter_0" BEL "UPCNTR/counter_1" BEL
        "SEG7DRVR/CURRCHAR/cntr2Sig_1" BEL "SEG7DRVR/CURRCHAR/cntr2Sig_0" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_15" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_14" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_13" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_12" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_11" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_10" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_9" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_8" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_7" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_6" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_5" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_4" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_3" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_2" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_1" BEL
        "SEG7DRVR/PULSE1KHZGEN/cntrSig_0" BEL "SEG7DRVR/anodes_3" BEL
        "SEG7DRVR/anodes_2" BEL "SEG7DRVR/anodes_1" BEL "SEG7DRVR/anodes_0"
        BEL "SEG7DRVR/charToDisplay_3" BEL "SEG7DRVR/charToDisplay_2" BEL
        "SEG7DRVR/charToDisplay_1" BEL "SEG7DRVR/charToDisplay_0" BEL
        "dataFromRAM_7" BEL "UPCNTR/counter_9" BEL "dataFromRAM_6" BEL
        "UPCNTR/counter_8" BEL "dataFromRAM_5" BEL "UPCNTR/counter_7" BEL
        "dataFromRAM_4" BEL "UPCNTR/counter_6" BEL "dataFromRAM_3" BEL
        "UPCNTR/counter_5" BEL "dataFromRAM_2" BEL "UPCNTR/counter_4" BEL
        "dataFromRAM_1" BEL "UPCNTR/counter_3" BEL "dataFromRAM_0" BEL
        "UPCNTR/counter_10" BEL "UPCNTR/counter_2" BEL
        "clk_50_BUFGP/BUFG.GCLKMUX" BEL "clk_50_BUFGP/BUFG";
TS_clk_50 = PERIOD TIMEGRP "clk_50" 20 ns HIGH 50%;
SCHEMATIC END;

